body {
  margin: 0px auto;
  background-color: #101010;
  color: lightgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

a, p {
  font-size: 25px;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header Stuff */
header {
  background-color: #202020;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

header .item {
  display: inline-block;
  margin: auto;
  padding: 10px 40px;
  color: gold;
}

header .item:hover {
  background-color: darkgray;
}

header #logo {
  background-color: darkblue;
  font-style: italic;
  color: darkgoldenrod;
}

header #logo:link, header #logo:visited, header #logo:hover {
  text-decoration: none;
  color: darkgoldenrod
}

/* Section Stuff */
section {
  background-color: darkgreen;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid black;
  width: 50%;
}

img {
  display: block;
  margin: 10px auto;
  max-height: 200px;
  max-width: 200px;
}

section#ThirtyOneDays a {
  color: rebeccapurple;
}