body {
  margin: 0px auto;
  background-color: #101010;
  color: lightgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

a, p {
  font-size: 25px;
}

a:link, a:visited {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #202020;
  height: auto;
}

header .item {
  display: inline-block;
  margin: 0px 20px;
  padding: 10px;
}

header .item:hover {
  background-color: darkgray;
}

header #logo {
  background-color: darkblue;
  padding: 10px;
  float: left;
  font-style: italic;
  color: darkgoldenrod;
}